<div class="uk-position-relative uk-margin-medium">
    <ul uk-tab="swiping: false" class="uk-tab">
        <li class="uk-active">
            <a aria-expanded="false">JSON</a>
        </li>
        <li class=""><a aria-expanded="true">Javascript</a></li>
    </ul>

<ul class="uk-switcher uk-margin">

<li class="uk-active">
<pre><code class="hljs json" style="background: none;">{
  "firstName": "John",
  "lastName": "Smith",
  "email": "john.smith@gmail.com",
  "gender": "Male"
}</code></pre></li>

<li class="">
<pre><code class="hljs javascript" style="background: none;">{
    firstName: 'John',
    lastName: 'Smith',
    email: 'john.smith@gmail.com',
    gender: 'Male'
}</code></pre>
</li>
</ul>

</div>
