<div class="uk-position-relative uk-margin-medium">

<pre><code class="hljs json" style="background: none;">{
  "firstName": "John",
  "lastName": "Smith",
  "email": "john.smith@gmail.com",
  "password": "abcd123",
  "gender": "Male"
}</code></pre>

</div>
