<div class="uk-position-relative uk-margin-medium">
    <ul uk-tab="swiping: false" class="uk-tab">
        <li class="uk-active">
            <a href="#" aria-expanded="false">Javascript</a>
        </li>
        <!-- <li class=""><a href="#" aria-expanded="true">Python</a></li> -->
    </ul>

    <ul class="uk-switcher uk-margin">
        <li class="uk-active">
            <pre><code class="hljs javascript"<div class="uk-position-relative uk-margin-medium">
    <ul uk-tab="swiping: false" class="uk-tab">
        <li class="uk-active">
            <a aria-expanded="false">JSON</a>
        </li>
        <li class=""><a aria-expanded="true">Javascript</a></li>
    </ul>

<ul class="uk-switcher uk-margin">

<li class="uk-active">
<pre><code class="hljs json" style="background: none;">{
  "firstName": "John",
  "lastName": "Smith",
  "email": "john.smith@gmail.com",
  "gender": "Male"
}</code></pre></li>

<li class="">
<pre><code class="hljs javascript" style="background: none;">{
    firstName: 'John',
    lastName: 'Smith',
    email: 'john.smith@gmail.com',
    gender: 'Male'
}</code></pre>
</li>
</ul>

</div>
><span class="hljs-function">fetch(<span class="hljs-string">'https://fitshare-web-api.herokuapp.com/v1/exercises'</span>, {
    method: 'POST',
    headers: {
        'Content-Type': 'application/json',
        'Authorization': 'Bearer: ${accessToken}'
    },
    body: JSON.stringify(newUser)
})
    .then(res => res.json())
    .then(res => /* do something with response */)</code></pre>
        </li>
        <!-- <li class=""></li> -->
    </ul>
</div>
