<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- UIkit files -->
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.7/css/uikit.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.7/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.7/js/uikit-icons.min.js"></script>

    <!-- highlight.js files -->
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.9/styles/default.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.9/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <style>
        .hljs-built_in { color: #b9a968; }
        .hljs-built_in_alt { color: #8a7e4d; }
        .hljs-string { color: #f0506e; }
        .hljs-keyword { color: #1f34aa; }
        .hljs-attr { color: #866dac; }
        .hljs-comment { color: #c2c2c2; }
        pre code.hljs { background: none; }
    </style>

    <title>FitShare Web API</title>
</head>
