<!-- Sidebar -->
<div class="uk-width-1-2@s uk-width-2-5@m"
     style="min-width: 180px;
            width: 10%;
            padding: 7em 1em 0;
            height: 100vh;" >

    <ul class="uk-nav-default uk-nav-parent-icon" uk-nav="multiple: true">
        <% sidebarRoutes.forEach(function(route) { %>

            <li class="uk-parent">
                <a><%= route.endpoint %></a>

                <% if (typeof route.actions !== undefined) { %>
                    <ul class="uk-nav-sub">
                        <% route.actions.forEach(function(subroute) { %>
                            <li>
                                <a href="<%= subroute.route %>">
                                    <%= subroute.method %>
                                </a>
                            </li>
                        <% }); %>
                    </ul>
                <% } %>
            </li>

        <% }); %>
    </ul>
</div>