<div class="uk-position-relative uk-margin-medium" style="width: 100%;">
    <ul uk-tab="swiping: false" class="uk-tab">
        <li class="uk-active">
            <a href="#" aria-expanded="false">Javascript</a>
        </li>
        <li class=""><a href="#" aria-expanded="true">JSON</a></li>
    </ul>

    <ul class="uk-switcher uk-margin">
        <li class="uk-active">
<pre><code class="lang-js hljs javascript" style="background: none; border: none;">{
    user: {
        id: 1,
        firstName: "John",
        lastName: "Smith",
        email: "john.smith@gmail.com",
        gender: "Male",
        createdAt: "2019-08-02T00:42:50.385Z"
    },
    accessToken: "your_access_token"
}
</code></pre>
        </li>
        <li class="">
<pre><code class="lang-js hljs javascript" style="background: none; border: none;">{
  "user": {
    "id": 1,
    "firstName": "John",
    "lastName": "Smith",
    "email": "john.smith@gmail.com",
    "gender": "Male",
    "createdAt": "2019-08-02T00:42:50.385Z"
  },
    "accessToken": "your_access_token"
}
</code></pre>
        </li>
    </ul>
</div>
