<div class="uk-position-relative uk-margin-medium" style="width: 100%;">
    <ul uk-tab="swiping: false" class="uk-tab">
        <li class="uk-active">
            <a href="#" aria-expanded="false">Javascript</a>
        </li>
        <!-- <li class=""><a href="#" aria-expanded="true">Python</a></li> -->
    </ul>

    <ul class="uk-switcher uk-margin">
        <li class="uk-active">
            <pre><code class="lang-js hljs javascript" style="background: none; border: none;">fetch(<span class="hljs-string">'https://fitshare-web-api.herokuapp.com/v1/exercises'</span>, {
    method: 'POST',
    headers: {
        'Content-Type': 'application/json',
        'Authorization': 'Bearer: ${accessToken}'
    },
    body: JSON.stringify(newUser)
})
    .then(res => res.json())
    .then(res => /* do something with response */)</code></pre>
        </li>
        <!-- <li class=""></li> -->
    </ul>
</div>
