<!DOCTYPE html>
<html lang="en">
    <%- include partials/header.ejs %>
    <body>
        <%- include partials/navbar.ejs %>

        <div style="display: flex;"><%- include partials/sidebar.ejs %></div>
    </body>
</html>
