<div class="uk-position-relative uk-margin-medium">

<pre><code class="hljs javascript" style="background: none;"><span class="hljs-built_in">fetch</span>(<span class="hljs-string">'https://fitshare-web-api.herokuapp.com/v1/exercises'</span>)
    <span class="hljs-built-in">.then</span>(<span class="hljs-keyword">res</span> => <span class="hljs-keyword">res</span>.json())
    <span class="hljs-built-in">.then</span>(<span class="hljs-keyword">res</span> => <span class="hljs-comment">/* do something with response */</span>)</code></pre>

</div>
