<div class="uk-position-relative uk-margin-medium">

<pre><code class="hljs javascript" style="background: none;"><span class="hljs-function">fetch(<span class="hljs-string">'https://fitshare-web-api.herokuapp.com/v1/exercises'</span>)
    .then(res => res.json())
    .then(res => /* do something with response */)</code></pre>

</div>
