<div class="uk-position-relative uk-margin-medium">

<pre><code class="hljs json">{
  "name": "Lying Face Down Plate Neck Resistance 2",
  "equipment": "Body Only",
  "level": "Hard",
  "rating": 10.0
}</code></pre>

</div>