<div class="uk-position-relative uk-margin-medium">

<pre><code class="hljs json">{
  "user": {
    "id": 1,
    "firstName": "John",
    "lastName": "Smith",
    "email": "john.smith@gmail.com",
    "gender": "Male",
    "createdAt": "2019-08-02T00:42:50.385Z"
  },
  "accessToken": "your_access_token"
}</code></pre>

</div>
